

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_life_topic</title>
</head>
<body>
{% extends "web_for_dbwork2/base.html" %}

{% load bootstrap3 %}
{% block content %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
             <h3>
                &nbsp;<a href="{% url 'web_for_dbwork2:life'  %}">生活</a>
              </h3>
              <form>
                    <div class="form-group">
                    {% comment %} <label for="comment">发帖内容</label>{% endcomment %}
                        <textarea class="form-control" rows="5" id="comment" placeholder="请输入发帖内容"></textarea>
                    </div>
                     &nbsp;<button type="button" class="btn btn-outline-primary">发帖</button>
               </form>
          </div>
        </div>
    </div>
{% endblock %}
</body>
</html>