

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_life_topic</title>
</head>
<body>
{% extends "web_for_dbwork2/base.html" %}

{% load bootstrap3 %}
{% block content %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
             <h3>
                &nbsp;<a href="{% url 'web_for_dbwork2:life'  %}">生活</a>
              </h3>
              <form method="post" action={% url "web_for_dbwork2:add_life" %}>
                  {% csrf_token %}
                  标题：
                  <div >
                    {% comment %} <label for="comment">发帖内容</label>{% endcomment %}
                        <textarea class="form-control" rows="1" name="title" placeholder="请输入标题"></textarea>
                    </div>
                  <br>
                  标签：
                  <div class="form-group">
                    {% comment %} <label for="comment">发帖内容</label>{% endcomment %}
                        <textarea class="form-control" rows="1" name="label" placeholder="请输入标签"></textarea>
                    </div>
                  <br>
                  内容：
                    <div class="form-group">
                    {% comment %} <label for="comment">发帖内容</label>{% endcomment %}
                        <textarea class="form-control" rows="5" name="text" placeholder="请输入发帖内容"></textarea>
                    </div>
                     &nbsp;<button type="submit" class="btn btn-outline-primary">发帖</button>
               </form>
          </div>
        </div>
    </div>
{% endblock %}
</body>
</html>