<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_major_recommend</title>
</head>
<body>
{% extends "web_for_dbwork2/base.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
             <h3>
                &nbsp;<a href="{% url 'web_for_dbwork2:major_recommend'  %}">专业推荐</a>
              </h3>
              <form method="post" action={% url "web_for_dbwork2:add_major_recommend" %}>
                   {% csrf_token %}
                        <br>
                        标题：
                  <div class="row">
                        <div class="col">
                                 <textarea class="form-control" rows="1" name="major_title" placeholder="发帖标题"></textarea>
                        </div>
                  </div>
                        <br>
                        专业名称：
                  <div class="row">
                            <div class="col">
                                 <textarea class="form-control" rows="1" name="major_name" placeholder="请输入专业名称"></textarea>
                            </div>
                      </div>
                        <br>
                        代表性课程：
                        <div class="row">
                            <div class="col">
                                 <textarea class="form-control" rows="1" name="major_rep1" placeholder="请输入代表性课程1"></textarea>
                            </div>
                            <div class="col">
                                 <textarea class="form-control" rows="1" name="major_rep2" placeholder="请输入代表性课程2"></textarea>
                            </div>
                            <div class="col">
                                 <textarea class="form-control" rows="1" name="major_rep3" placeholder="请输入代表性课程3"></textarea>
                            </div>
                        </div>

                             <br>
                        标签：
                        <div class="row">
                            <div class="col">
                                 <textarea class="form-control" rows="1" name="major_label1" placeholder="请输入专业标签1"></textarea>
                            </div>
                            <div class="col">
                                 <textarea class="form-control" rows="1" name="major_label2" placeholder="请输入专业标签2"></textarea>
                            </div>
                            <div class="col">
                                 <textarea class="form-control" rows="1" name="major_label3" placeholder="请输入专业标签3"></textarea>
                            </div>
                        </div>

                         <br>

                    <div class="form-group">
                    {% comment %} <label for="comment">发帖内容</label>{% endcomment %}
                        <textarea class="form-control" rows="5" name="major_desc" placeholder="请输入发帖内容"></textarea>
                    </div>
                     &nbsp;<button type="submit" class="btn btn-outline-primary">发帖</button>
               </form>
          </div>
        </div>
    </div>
{% endblock %}
</body>
</html>