<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>major</title>
</head>
<body>
{% extends 'web_for_dbwork2/base.html' %}
{% block content %}
    <div class="container-md">

      <div class="jumbotron">
        <div class="container">
            <h3>专业查询</h3>
            <br>
            <p>输入您想要查询的课程，将为您检索所有包含该课程的专业</p>
            <hr class="my-4">
          <form method="post" action={% url "web_for_dbwork2:major_c2m" %} >
               {% csrf_token %}
            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
{#                      <label for="firstname" class="col-sm-2 control-label">要查询的课程</label>#}
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="search_course" placeholder="请输入要查询的课程">
                      </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">查询</button>
                      </div>
                    </div>
                </div>
            </div>
          </form>
        </div>


    </div>

    {% if has_data == 1 %}
        <div class="card">
          <div class="card-body text-info">
            查询信息如下：
          </div>
        </div>
    {% endif %}
        <div style="height: 10px;">
        </div>


    {% for name in name_list %}

        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <h5 class="card-header">{{name}}</h5>
      <div class="card-body">
        <h5 class="card-title">研究方向</h5>
          {% for field in field_dict|get_item:name %}
        {{ field }}|
          {% endfor %}
        <br>
        <!-- 按钮：用于打开模态框 -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{name}}" >
            了解更多
          </button>


          <!-- 模态框 -->
          <div class="modal fade" id="{{name}}">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                  <h4 class="modal-title">{{name}}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    {% for field in field_dict|get_item:name %}

                    <p> {{ field }}：{{ desc|get_item:field }}
                    </p>
                        {% endfor %}
                    <br>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

              </div>
            </div>
          </div>

      </div>
    </div>

    {% endfor %}
   {% comment %} <div style="height: 10px"></div>{% endcomment %}

    </div>

{% endblock content %}
</body>
</html>

