<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>major_recommend</title>

</head>
<body>
{% extends "web_for_dbwork2/base.html" %}

{% block content %}

    <div class="container-sm">
         <div class="jumbotron">
        <div class="container">
            <h3>专业推荐<a href="{% url 'web_for_dbwork2:add_major_recommend' %}" class="btn btn-warning" role="button">我要发帖</a>
            </h3>
            <br>
            <p>在下拉框中选择您想要查看的专业，将为您展示各个推荐帖</p>
            <hr class="my-4">

            <form method="post" action={% url "web_for_dbwork2:major_recommend" %}>
                {% csrf_token %}
                    <div id="accordion">
                              <div class="row">
                                  <div class="col">
                                      <div class="card">
                                          <div class="card-header text-center">
                                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                              信息大类
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"></path>
                                                </svg>
                                            </a>
                                          </div>
                                          <div id="collapseOne" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                {% for xx_id, xx_name in cate.xx.items %}
                                                <div class="radio">
                                                  <label><input type="radio" name={{xx_id}}>{{xx_name}}</label>
                                                </div>
                                                {% endfor %}

                                            </div>
                                          </div>
                                        </div>
                                  </div>


                                  <div class="col">
                                      <div class="card">
                                          <div class="card-header text-center">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                                航空航天大类
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"></path>
                                                </svg>
                                          </a>
                                          </div>
                                          <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                {% for hkht_id, hkht_name in cate.hkht.items %}
                                                <div class="radio">
                                                  <label><input type="radio" name={{hkht_id}}>{{hkht_name}}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                          </div>
                                        </div>
                                  </div>

                                      <div class="col">
                                      <div class="card">
                                          <div class="card-header text-center" >
                                            <a class="collapsed card-link " data-toggle="collapse" href="#collapseThree">
                                              理科大类
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                                </svg>
                                            </a>
                                          </div>
                                          <div id="collapseThree" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                              {% for lk_id, lk_name in cate.lk.items %}
                                                <div class="radio">
                                                  <label><input type="radio" name={{lk_id}}>{{lk_name}}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                  <div class="col">
                                      <div class="card">
                                          <div class="card-header text-center">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                              文科大类
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                  <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"></path>
                                                </svg>
                                            </a>
                                          </div>
                                          <div id="collapseFour" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                              {% for wk_id, wk_name in cate.wk.items %}
                                                <div class="radio">
                                                  <label><input type="radio" name={{wk_id}}>{{wk_name}}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                          </div>
                                        </div>
                                      </div>


                                  <div class="col-sm">
                                      <div class="col-sm">
                                        <div class="form-group">
                                          <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">查询</button>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                    </div>
            </form>

        </div>
    </div>
    {% if major_name%}
        <div class="card">
         <div class="card-body text-info">

                {{major_name}}贴吧

         </div>
        </div>
    {% endif %}
        <div style="height: 10px;">

        </div>

    </div>

    {% for info in recommend_info %}
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <h5 class="card-header">{{info.title}}</h5>
      <div class="card-body ">
          <h5 class="card-title">label: <span class="badge badge-pill badge-danger">{{info.label1}}</span> <span class="badge badge-pill badge-warning">{{info.label2}}</span> <span class="badge badge-pill badge-info">{{info.label3}}</span></h5>
          <h5 class="card-title">代表课程：<span class="badge badge-pill badge-success">{{info.rep1}}</span> <span class="badge badge-pill badge-success">{{info.rep2}}</span> <span class="badge badge-pill badge-success">{{info.rep3}}</span></h5>
        <p class="card-text">
            {{info.desc}}
        </p>
      </div>
    </div>
    {% endfor %}

{% endblock content %}
</body>
</html>