<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>major_m2c</title>
</head>
<body>
{% extends "web_for_dbwork2/base.html" %}

{% block content %}
    <div class="container-md">

      <div class="jumbotron">
        <div class="container">
            <h3>课程查询</h3>
            <br>
            <p>输入您想要查询的专业，将为您检索该专业的必修课程</p>
            <hr class="my-4">
          <form class="form-horizontal" role="form" method="post" action={% url "web_for_dbwork2:major_m2c" %}>
              {% csrf_token %}
            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
{#                      <label for="firstname" class="col-sm-2 control-label">要查询的专业名</label>#}
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="search_major" placeholder="请输入要查询的专业名">
                      </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">查询</button>
                      </div>
                    </div>
                </div>
            </div>
          </form>
        </div>
    </div>

        <div style="height: 10px;">

        </div>

    {% if has_data == 1 %}
        <div class="card">
          <div class="card-body text-info">
            查询信息如下：
          </div>
        </div>
    {% endif %}

        {% for course in course_info %}

            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <h5 class="card-header">{{course.course_name}}</h5>
      <div class="card-body">
        {% comment %}<h5 class="card-title">Special title treatment</h5>{% endcomment %}

        <!-- 按钮：用于打开模态框 -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{course.course_name}}">
            了解更多课程信息
          </button>


            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
              填写分数
            </button>

              <!-- 模态框 -->
              <div class="modal fade" id="myModal3">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">

                    <!-- 模态框头部 -->
                    <div class="modal-header">
                      <h4 class="modal-title">填写分数</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- 模态框主体 -->
                    <div class="modal-body">
                      <div class="row">
                                    <form method="post" action={% url "web_for_dbwork2:add_grade" %}>
                                        {% csrf_token %}
                                      <div class="form-row">
                                          <div class="col">
                                          <input type="text" class="form-control" name="name" placeholder="课程名">
                                        </div>
                                        <div class="col">
                                          <input type="text" class="form-control" name="grade" placeholder="课程分数">
                                        </div>

                                        <div class="col">
                                            &nbsp;<button type="submit" class="btn btn-outline-dark">填写</button>
                                        </div>
                                      </div>
                                    </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


          <!-- 模态框 -->
          <div class="modal fade" id="{{course.course_name}}">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                  <h4 class="modal-title">{{course.course_name}}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">

                    <h6>授课教师：</h6>
                    {% for teacher in course.teacher_info_list %}
                        <p>
                            {{teacher.name}}，{{ teacher.age }}岁，{{ teacher.rank }}
                        </p>
                        <br>
                    {% endfor %}

                    <h6>推荐学习年级：</h6>
                    <p>
                        {{course.recommend_learn_grade}}年级
                    </p>
                    <br>

                    <h6>学分：</h6>
                    <p>
                        {{course.credits}}学分
                    </p>
                    <br>

                    <h6>平均分：</h6>
                    <p>
                        {{course.avg_grades}}
                    </p>
                    <br>

                    <h6>网页资源：</h6>
                    {% for web in course.web_resource_list %}
                    <p>
                        {{web.name}}，ISBN:{{ web.ISBN }}
                    </p>
                    <br>
                    {% endfor %}

                    <h6>书籍资源：</h6>
                    {% for book in course.book_resource_list %}
                    <p>
                        {{book.name}}，ISBN:{{ book.ISBN }}
                    </p>
                    <br>
                    {% endfor %}




                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
        {% endfor %}

    {% comment %}<div style="height: 10px"></div>{% endcomment %}

    </div>


    {% if has_data == 1 %}

        <div class=" text-center">
            <h4><mark>{{major_name}}研究方向:</mark></h4>
        </div>


        <div style="height: 500px;" id="study_direction">
        </div>

    {% endif %}
{% endblock content %}
</body>
</html>