<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>major</title>
</head>
<body>
{% extends 'web_for_dbwork2/base.html' %}
{% block content %}
    <div class="container-md">

      <div class="jumbotron">
        <div class="container">
            <h3>专业查询</h3>
            <br>
            <p>输入您想要查询的课程，将为您检索所有包含该课程的专业</p>
            <hr class="my-4">
          <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
{#                      <label for="firstname" class="col-sm-2 control-label">要查询的课程</label>#}
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="addI" placeholder="请输入要查询的课程">
                      </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">查询</button>
                      </div>
                    </div>
                </div>
            </div>
          </form>
        </div>


    </div>
        <div class="card">
          <div class="card-body text-info">
            查询信息如下：
          </div>
        </div>
        <div style="height: 10px;">

        </div>
        
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <h5 class="card-header">计算机科学与技术专业</h5>
      <div class="card-body">
        <h5 class="card-title">标题</h5>
        <p class="card-text">内容</p>
        <!-- 按钮：用于打开模态框 -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
            了解更多
          </button>

          <!-- 模态框 -->
          <div class="modal fade" id="modal1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                  <h4 class="modal-title">计算机科学与技术专业</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <p> 计算机专业是指计算机硬件与软件相结合、面向系统、
                        更偏向应用的宽口径专业。通过基础教学与专业训练，培养基础知识扎实、
                        知识面宽、工程实践能力强，具有开拓创新意识，在计算机科学与技术领域从事科学研究、
                        教育、开发和应用的高级人才。
                    </p>
                    <br>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>


   {% comment %} <div style="height: 10px"></div>{% endcomment %}

    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <h5 class="card-header">飞行器制造专业</h5>
      <div class="card-body">
        <h5 class="card-title">标题</h5>
        <p class="card-text">内容</p>

          <!-- 按钮：用于打开模态框 -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">
            了解更多
          </button>

          <!-- 模态框 -->
          <div class="modal fade" id="modal2">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                  <h4 class="modal-title">飞行器制造专业</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                  模态框内容..
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

              </div>
            </div>
          </div>

      </div>
    </div>

    </div>

{% endblock content %}
</body>
</html>

