<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>major</title>
</head>
<body>
{% extends 'web_for_dbwork2/base.html' %}
{% block content %}
    <div class="container-md">

      <div class="jumbotron">
        <div class="container">
            <h3>课程查询</h3>
            <br>
            <p>输入您想要查询的课程，将为您检索所有包含该课程的专业</p>
            <hr class="my-4">
          <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-lg">
                    <div class="form-group">
{#                      <label for="firstname" class="col-sm-2 control-label">要查询的课程</label>#}
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="addI" placeholder="请输入要查询的课程">
                      </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">查询</button>
                      </div>
                    </div>
                </div>
            </div>
          </form>
        </div>
    </div>
        <div class="card">
          <div class="card-body">
            查询信息如下：
          </div>
        </div>
        <div style="height: 10px;">

        </div>
    <div class="card ">
      <h5 class="card-header">计算机科学与技术专业</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">....</p>
        <a href="{% url 'web_for_dbwork2:page2_name' %}" class="btn btn-primary">了解更多</a>
      </div>
    </div>
    <div style="height: 10px"></div>

    <div class="card">
      <h5 class="card-header">飞行器制造专业</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">...</p>
        <a href="{% url 'web_for_dbwork2:page2_name' %}" class="btn btn-primary">了解更多</a>
      </div>
    </div>

    </div>

{% endblock content %}
</body>
</html>