<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>person_information</title>
</head>
<body>
{% extends 'web_for_dbwork2/base.html' %}
{% block header %}

{% endblock %}

{% block content %}

    <!--消息弹出-->
    {% include 'users/messageStyle.html' %}


    <div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width:400px">
    <img class="card-img-top" src="https://static.runoob.com/images/mix/img_avatar.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">在读年级：{{ grade }}</p>
        <p class="card-text">在读专业：{{ major }}</p>
    </div>
  </div>
        </div>

        <div class="col">
                <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          我的关注
        </a>
      </div>
      <div id="collapseOne" class="collapse show" >
        <div class="card-body">
            {% for info in focus_info_list %}
          <li>
              {{info.focus_name}}，关注时间：{{ info.focus_time }}
          </li>
            {% endfor %}

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        我的收藏
      </a>
      </div>
      <div id="collapseTwo" class="collapse" >
        <div class="card-body">
            {% if fav_study.count != 0  %}

                <h5 class="card-title"><kbd color="blue">学习路线</kbd></h5>
                {% for fav in fav_study %}
                    <li>
                        {{ fav.title }}.{{ fav.owner_name }}，收藏时间：{{ fav.time }}
                    </li>
                {% endfor %}
            {% endif %}

            <br>

            {% if fav_lives.count != 0  %}
                 <h5 class="card-title"><kbd color="blue">生活</kbd></h5>
                {% for fav in fav_lives %}
                    <li>
                        {{ fav.title }}.{{ fav.owner_name }}，收藏时间：{{ fav.time }}
                    </li>
                {% endfor %}
            {% endif %}

            <br>

            {% if fav_major.count != 0  %}
                 <h5 class="card-title"><kbd color="blue">专业推荐</kbd></h5>
                {% for fav in fav_major %}
                    <li>
                        {{ fav.title }}.{{ fav.owner_name }}，收藏时间：{{ fav.time }}
                    </li>
                {% endfor %}
            {% endif %}

            <br>

{#            <li>#}
{#                <a href="{% url 'web_for_dbwork2:study_router' %}">Cpp学习路线跳转模板</a>#}
{#            </li>#}

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          我的发布
        </a>
      </div>
      <div id="collapseThree" class="collapse" >
        <div class="card-body">
            {% for broadcast in broadcast_list %}
                <li>
                {{ broadcast.title }}，发布时间：{{ broadcast.broadcast_time }}
                </li>
            {% endfor %}
{#            <li>#}
{#                 <a href="{% url 'web_for_dbwork2:study_router' %}">Cpp学习路线跳转模板</a>#}
{#            </li>#}

        </div>
      </div>
    </div>

{#                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">#}
{#              注销#}
{#            </button>#}
{##}
{#              <!-- 模态框 -->#}
{#              <div class="modal fade" id="myModal">#}
{#                <div class="modal-dialog modal-sm">#}
{#                  <div class="modal-content">#}
{##}
{#                    <!-- 模态框头部 -->#}
{#                    <div class="modal-header">#}
{#                      <h4 class="modal-title">确认注销</h4>#}
{#                      <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#                    </div>#}
{##}
{#                    <!-- 模态框主体 -->#}
{#                    <div class="modal-body">#}
{#                      <div class="row">#}
{#                                    <form method="post" action={% url "users:deleteUser" %}>#}
{#                                        {% csrf_token %}#}
{#                                      <div class="form-row">#}
{#                                          <div class="col">#}
{#                                          <input type="text" class="form-control" name="name" placeholder="输入以 ‘BUAA’ 确认注销">#}
{#                                            </div>#}
{##}
{#                                        <div class="form-row">#}
{#                                            &nbsp;<button type="submit" class="btn btn-outline-dark">确认</button>#}
{#                                        </div>#}
{#                                      </div>#}
{#                                    </form>#}
{#                      </div>#}
{#                    </div>#}
{##}
{#                  </div>#}
{#                </div>#}
{#              </div>#}

  </div>
        </div>

    </div>

</div>

{% endblock %}
</body>
</html>